---
import Layout from "../layouts/Layout.astro";
import WorkCard from "../components/WorkCard.astro";

// Also, you can import multiple files with Astro.glob
let works = await Astro.glob("./works/*.mdx");
works.sort((a, b) => a.frontmatter.priority - b.frontmatter.priority);
---

<Layout title="Works">
	<main class="max-w-7xl my-12 mx-auto px-24">
		<div class="grid grid-cols-3 gap-4 place-content-start">
			{
				works.map((work, index) => (
					<WorkCard work={work} index={index} />
				))
			}
		</div>
	</main>
</Layout>
