---
---

<section class="mt-6 prose prose-sm prose-stone">
	<h3 class="flex items-center">
		<!-- <svg class="h-2.5 w-2.5" aria-hidden="true" viewBox="0 0 10 10">
			<path
				d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z"
				class="fill-rose-500"></path>
			<path
				d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z"
				class="fill-rose-700"></path>
		</svg> -->
		<span class="">About</span>
	</h3>
	<p class="mt-2">
		I help developers understand emerging technologies and help
		emerging technologies understand their developers. I also make
		art that thinks about technology and politics.
	</p>
</section>
